altgraph==0.15
atomicwrites==1.3.0
attrs==19.3.0
autopy==1.0.1
certifi==2018.4.16
chardet==3.0.4
colorama==0.4.1
future==0.16.0
idna==2.6
importlib-metadata==0.23
keyboard==0.13.3
macholib==1.9
more-itertools==7.2.0
mpmath==1.1.0
numpy==1.14.3
opencv-python==4.1.0.25
packaging==19.2
pandas==0.24.2
pefile==2017.11.5
Pillow==6.2.0
pluggy==0.13.0
py==1.8.0
PyAutoGUI==0.9.36
pygame==1.9.6
PyInstaller==3.3.1
PyMsgBox==1.0.6
pyparsing==2.4.3
pypiwin32==223
PyQt5==5.10.1
PyScreeze==0.1.14
pytest==5.1.1
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2018.9
pywin32==223
requests==2.18.4
selenium==3.14.0
simpy==3.0.11
sip==4.19.8
six==1.12.0
sympy==1.3
urllib3==1.22
wcwidth==0.1.7
zipp==0.6.0
